#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#header {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}
#header h1 {
    font-weight: 500;
    letter-spacing: 0.01rem;
    color: #a9a9a9;
}

#game-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

#wordBox {
    margin-top: 3.75rem;
    overflow: hidden;
    height: 115px;
    border: 4px;
    padding: 13px 30px;
    align-items: center;
    font-size: 1.9em;
    line-height: 1.5em;
    background-color: var(--primary);
    border-radius: 4px;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
}
#wordBox span {
    display: inline-flex;
    /* margin-right: 16px; */
    padding-inline: 0.8rem;
}
#wordBox span.activeWord {
    background-color: var(--grey-2);
    border-radius: 4px;
}
#wordBox span.unmatched {
    background-color: var(--danger-1);
}
#wordBox span.correct {
    color: var(--success-1);
}
#wordBox span.incorrect {
    color: var(--danger-1);
}

#timer {
    height: 3.4rem;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1.75rem;
    width: 7.125rem;
}
#timer span {
    font-size: 1.375rem;
}

#input-row {
    display: flex;
    justify-content: center;
    gap: 1.15rem;
    margin-top: 1.15rem;
}
