#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#header {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}
#header h1 {
    font-weight: 500;
    letter-spacing: 0.01rem;
    color: #a9a9a9;
}

#game-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

#wordBox {
    position: relative;
    margin-top: 3.75rem;
    overflow: hidden;
    height: 125px;
    border: 4px;
    padding-inline: 30px;
    padding-top: 10px;
    align-items: center;
    font-size: 1.9em;
    line-height: 1.5em;
    background-color: var(--primary);
    border-radius: 4px;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
}
#wordBox span {
    display: inline-flex;
    padding-inline: 0.8rem;
    margin-top: 4.5px;
    margin-bottom: 4.5px;
}
#wordBox span.activeWord {
    background-color: var(--grey-2);
    border-radius: 4px;
}
#wordBox span.unmatched {
    background-color: var(--danger-1);
}
#wordBox span.correct {
    color: var(--success-1);
}
#wordBox span.incorrect {
    color: var(--danger-1);
}

#wordBoxRow {
    position: relative;
}

#timer {
    height: 3.4rem;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1.75rem;
    width: 7.125rem;
    border-radius: 4px;
}
#timer span {
    font-size: 1.375rem;
}

#input-row {
    display: flex;
    justify-content: center;
    gap: 1.15rem;
    margin-top: 1.15rem;
}

#game-score-container {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
#game-score {
    background-color: var(--primary);
    width: 320px;
    border-radius: 4px;
}
#game-score div.header {
    font-size: 1.25rem;
    text-align: center;
    padding-top: 1.15rem;
    padding-bottom: 1.15rem;
}
#game-score div.header p {
    font-weight: 500;
}
#game-score div.header .wpm {
    font-size: 2rem;
    margin-right: 0.2rem;
    font-weight: 600;
}
#game-score .result-list {
    font-size: 1rem;
}
#game-score .result-list li {
    padding: 0.75rem 1.25rem;
    justify-content: space-between;
    display: flex;
}
#game-score .result-list li:nth-child(odd) {
    background-color: var(--grey-1);
}
#game-score .keystroke {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
#game-score .keystroke .total {
    margin-left: 1rem;
}
#game-score .keystroke .slash {
    font-size: 0.825rem;
}
