:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --text-primary: #ffffff;
    --primary: #1d1d1d;
    --primary-accent: #121212;
    --grey-1: #2a2a2a;
    --grey-2: #333333;
    --blue-1: #1585e0;
    --blue-2: #2da1ff;
    --success-1: #82ff62;
    --danger-1: #f67070;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #121212;
    color: var(--text-primary);
}

.container {
    max-width: 960px;
    margin-inline: 2rem;
}

.input {
    background-color: var(--primary);
    color: var(--text-primary);
    border-radius: 4px;
    height: 3.4rem;
    padding-inline: 1.75rem;
    outline: 2px solid var(--grey-1);
    transition: outline 0.25s ease-in-out;
}
.input:focus {
    outline: 2px solid var(--blue-1);
}
.input:disabled {
    cursor: not-allowed;
}

.button {
    background-color: var(--primary);
    color: var(--text-primary);
    border-radius: 4px;
    height: 3.4rem;
    padding-inline: 1.75rem;
    transition: background-color 0.25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-sm {
    height: 2.9rem;
    padding-inline: 1.5rem;
    font-size: 1.125rem;
    font-size: 1rem;
}
.button:hover {
    cursor: pointer;
    background-color: var(--blue-1);
}
.button:focus {
    outline: none;
}
.button:active {
    background-color: var(--blue-2);
}
.button .button-icon {
    transition: transform 0.35s ease-in-out;
}
.button:hover .button-icon {
    transform: rotate(90deg);
}
.button:disabled {
    cursor: not-allowed;
}

.bold {
    font-weight: 500;
}

.success {
    color: var(--success-1);
}

.danger {
    color: var(--danger-1);
}

.text-sm {
    font-size: 0.875rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead th {
    text-align: left;
}

.table thead th,
.table tbody td {
    padding: 0.75rem 1.25rem;
}

.table tbody tr:nth-child(odd) {
    background-color: var(--primary);
}
